@mixin full-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@mixin min-full-page {
  @include full-page;
  height: auto;
  min-height: 100vh;
}

@mixin center-page {
  @include full-page;
  justify-content: center;
  align-items: center;
}

@mixin center-top-page {
  @include min-full-page;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
}
