@import "../mixins/icon";

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid black;

  @mixin fill {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--land {
    background: green;
    position: relative;
  }
  &--pheromone {
    @include fill();
    background: yellowgreen;
    opacity: 0;
  }

  &--food {
    @include fill();
    background: brown;
    opacity: 0;
  }

  &--home {
    background: pink;
  }

  &--rock {
    background: gray;
  }

  &--ants {
    position: relative;
    &:after {
      @include fill;
      @include icon;
      content: "🐜";
    }
  }
}
